/*DEFAULT STYLES: made for small devices*/
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    color: #EEEEEE;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

}
body{
    background-color: black;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menu{
    width:100%;
}
.menutitle{
    width:80%;
    display:inline-block;
    font-size:31px;
    padding-left:10px;
}
.navbar-default,.modal-header,.modal-footer{
    background: url("../img/blackbg.png") center no-repeat;
    background-size: cover;
    border-color:black;
    color:white;
}
.playlist{
    width:100%;
    /*background-color: black;*/
    background: url("../img/whitebg.jpg") center repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    margin-top:50px;
    margin-bottom:50px;
    color: black;
}
.song{
    width:100%;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    height:50px;
    display:block;
    font-size:20px;
}
.song div.songtitle{
    display:inline-block;
    width:80%;
    height:100%;
}
.song div.songtitle label{
    float:left;
    padding-top:5px;
    padding-left:7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song div.songduration{
    display:inline-block;
    width:18%;
    height:100%;
}
.song div.songduration label{
    padding-top:12px;
    padding-right:7px;
    float:right;
}

.footer{
    width:100%;
    height:30px;
}
div.playingicon, div.recommendation{
    width:19%;
    text-align: center;
    display:inline-block;
}
div.scplayingicon{
    width:19%;
    text-align: center;
    display: inline-block;
    float:left;
}


div.player{
    width:60%;
    text-align: center;
    display:inline-block;
}
div.scplayingicon button{
    background: url("../img/soundcloudlogo.png") center no-repeat;
    background-size: cover;
 }
div.playingicon button{
    background: url("../img/playingicon.gif") center no-repeat;
    background-size: cover;
}

button#recommendicon{
    background: url("../img/recommendation.png") center no-repeat;
    background-size: cover;
}
div.footer button,div.scplayingicon button{
    height:30px;
    border-width: 0px;
    width:30px;
    margin-top:10px;
}
div.scplayingicon button{
    margin-top:2px;
    width:50px;
}
button#play{
     background: url("../img/play.png") center no-repeat;
     background-size: cover;
 }
button#prev{
    background: url("../img/prev.png") center no-repeat;
    background-size: cover;
}
button#next{
    background: url("../img/next.png") center no-repeat;
    background-size: cover;
}
button#pause{
    background: url("../img/pause.png") center no-repeat;
    background-size: cover;
}
button#pause,button#play{
    margin-left:5px;
    margin-right:5px;
}

.nowplaying{
    text-align: center;
}
.npimg{
    width:100%;
    display:block;
}
.npimg img{
    width:300px;
    height:300px;
    border: 3px black groove;
}
.npinfo{
    text-align: center;
    display:block;
    margin-top:10px;
    color:black;
}
.npinfo label{
    display:block;
    font-size:20px;
}

.modal-content{
    background-image: url("../img/whitebg.jpg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

div.soundcloud{
    width:100%;
    min-height:500px;
    display:block;
    color:black;
}
div.soundcloud div.scplayer{
    height:500px;
    width:100%;
    text-align: center;
}
div.soundcloud div.info{
    min-height:45px;
    width:100%;
    text-align: center;
}
div.songtitle{
    width:100%;
    height:100%;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
div.infolist{
    min-height:450px;
}
div.info:nth-child(odd){
    background-color: black;
}
div.info:nth-child(odd) a{
    color:white;
}
div.info:nth-child(even){
    background-color: white;
}
div.info:nth-child(even) a{
    color:black;
}
div.info a{
    font-size:20px;
    margin-top:5px;
}
div.songtitle a label{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.scback{
    padding-top: 8px;
    background-color: orangered;
}
div.scback a{
    color:silver;
    font-weight: bolder;
    font-size:23px;
}
div.soundcloud a:hover{
    text-decoration: underline;
}
div#player{
    min-height:450px;
}
div#player iframe{
    height: 450px;
}
div#recommendationModal div.modal-body{
    padding:0px;
}
div#recommendationModal div.modal-footer{
    padding:10px;
}

div.resultnav, div.scback{
    width:100%;
    height:50px;
    text-align: center;
}
div.resultnav{
    background-color: black;
}
div.resultnav div.btn-group a,div.resultnav div.btn-group span{
    display:inline-block;
    color:white;
}
div.resultnav div.btn-group a:active{
    color:gray;
}
div.resultnav div.btn-group a.active{
    background-color: #ffffff;
    color:black;
}
div.resultnav div.btn-group{
    text-align: center;
    margin-top:10px;
}
div.pagenum{
    display:inline-block;
}

.animation{
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}
.animation.ng-hide{
    opacity:0;
    top:0;
    /* transform: scale(0.8); */
}
.animation.ng-show{
    top:0;
}
.animation.ng-include{
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.animation.ng-enter, .animation.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    opacity:1;
}

.animation.ng-enter {
    opacity:0;
}
.animation.ng-enter.ng-enter-active {
    opacity:1;
}

.animation.ng-leave {
    opacity:0;
}
.animation.ng-leave.ng-leave-active {
    opacity:0;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-move {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;

    position:relative;
}
.repeat-animation.ng-enter {
    opacity: 0;
}
.repeat-animation.ng-enter.ng-enter-active {
    opacity: 1;
}
.repeat-animation.ng-leave {
    opacity: 1;
}
.repeat-animation.ng-leave.ng-leave-active {
    opacity: 0;
}
.repeat-animation.ng-move {
    left:2px;
    opacity: 0.5;
}
.repeat-animation.ng-move.ng-move-active {
    left:0;
    opacity: 1;
}

.icon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    width:26px;
    height:26px;
}
.left-arrow{
    background: url("../img/left.png") center no-repeat;
    background-size: cover;
    margin-top:100px;
}
.right-arrow{
    background: url("../img/right.png") center no-repeat;
    background-size: cover;
    margin-top:100px;
}
.next-arrow{
    background: url("../img/nexticon.png") center no-repeat;
    background-size: cover;
}
.prev-arrow{
    background: url("../img/previcon.png") center no-repeat;
    background-size: cover;
}
.forward-arrow{
    background: url("../img/forwardicon.png") center no-repeat;
    background-size: cover;
}
.backward-arrow{
    background: url("../img/backwardicon.png") center no-repeat;
    background-size: cover;
}

.navbar-default .navbar-brand{
    color:white;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color:black;
    background-color: white;
}

div.menu ul{
    font-size:18px;
    text-align: center;
}